.App {
  border: 1px solid rgb(143, 25, 113);
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 600px;
  margin-left: 600px;
  background-color: aqua;
}
.deletebtn {
  background-color: red;
  color: rgb(27, 24, 24);
  margin: auto;
}
.todo-button {
  background-color: rgb(12, 10, 109);
  color: green;
}
li {
  color: hotpink;
}
input.todo-input {
  width: 230px;
}
ul {
  list-style-type: none;
}
.li-button {
  background-color: aqua;
}
h1 {
  color: red;
  margin: center;
}
